#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Anadi",
    traits: ["Rare", "Anadi", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Dex, Wis, Free],
  at_flaw: [Con],
  base_langs: ["Anadi", "Mwangi"],
  rec_langs: ["Draconic", "Elven", "Gnoll", "Iruxi", "Orcish", "Sylvan"],
  features: [
    Action(
      id: Identifier(
        id: "Change Shape",
        traits: ["Anadi", "Arcane", "Concentrate", "Polymorph", "Transmutation"],
      ),
      actions: 1,
      reaction: false,
      trigger: "",
      flavor: "You change into your human or spider shape. Each shape has a specific, persistent appearance. In your human shape, you can't use unarmed attacks granted by your ancestry. You aren't flat-footed when climbing in your spider shape. However, in your spider shape you can't use weapons, shields, or other held items of any sort, and you are limited in what actions you can take that have the manipulate trait. The only manipulate actions you can take are to Cast a Spell with somatic components, weave silk or webbing, or simple Interact actions such as opening an unlocked door. Your spider legs can't perform actions that require fingers or significant manual dexterity, including any action that would require a check to accomplish. The GM might determine other manipulate actions are appropriate for your spider legs.",
    ),
    Attack(
      id: Identifier(
        id: "Fangs",
        traits: ["Finesse", "Unarmed"],
      ),
      price: 0,
      damage: "1d6",
      damage_type: Piercing,
      range: 5,
      bulk: 0,
      hands: 0,
      group: Brawling,
      category: Unarmed,
    ),
  ],
)