#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Android",
    traits: ["Rare", "Android", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Dex, Int, Free],
  at_flaw: [Cha],
  base_langs: ["Common", "Androffan"],
  rec_langs: ["Abyssal", "Celestial", "Draconic", "Dwarven", "Undercommon", "Utopian"],
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, and you ignore the concealed condition due to dim light.",
    ),
    Circumstance(
      id: Identifier(
        id: "Constructed",
        traits: [],
      ),
      circumstances: [
        (
          stats: Some([Fortitude, Reflex, Will]),
          proficiency: None,
          circumstance: Some(["Disease", "Poison", "Radiation"]),
          bonus: +1,
        ),
      ],
      flavor: "Your synthetic body resists ailments better than those of purely biological organisms. You gain a +1 circumstance bonus to saving throws against diseases, poisons, and radiation."
    ),
    Circumstance(
      id: Identifier (
        id: "Emotionally Unaware",
        traits: [],
      ),
      circumstances: [
        (
          stats: Some([Perception]),
          proficiency: None,
          circumstance: Some(["Sense Motive"]),
          bonus: -1,
        ),
        (
          stats: Some([Diplomacy, Performance]),
          proficiency: None,
          circumstance: None,
          bonus: -1,
        ),
      ],
      flavor: "You find it difficult to understand and express complex emotions. You take a –1 circumstance penalty to Diplomacy and Performance checks, and on Perception checks to Sense Motive. "
    )
  ],
)