#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Athamaru",
    traits: ["Uncommon", "Amphibious", "Athamaru", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 20, "Swim": 25},
  base_hp: 8,
  at_boost: [Str, Wis, Free],
  at_flaw: [Int],
  base_langs: ["Common", "Thalassic"],
  rec_langs: ["Alghollthu", "Azlanti", "Fey", "Tien"],
  bonus_langs: 0,
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, and you ignore the concealed condition due to dim light.",
    ),
  ],
)