#![enable(unwrap_variant_newtypes)]
(
  meta: Meta(
    id: "Athamaru",
    traits: ["Uncommon", "Amphibious", "Athamaru", "Humanoid"],
    flavor: Some("Athamarus are fish-like humanoids who form tight-knit communities underseas, with villages of siblings led by a common matriarch. Athamarus engage in subsistence farming of seaweed, train eels to serve as mounts, and create elaborate works of coral art."),
    legacy: false,
  ),
  size: [Medium],
  speed: {"Walk": 20, "Swim": 25},
  base_hp: 8,
  at_boost: [Str, Wis, Free],
  at_flaw: [Int],
  base_langs: ["Common", "Thalassic"],
  rec_langs: ["Alghollthu", "Azlanti", "Fey", "Tien"],
  features: [
    Flavor(
      id: "Low-Light Vision",
      traits: [],
      flavor: Some("You can see in dim light as though it were bright light, and you ignore the concealed condition due to dim light."),
      legacy: false,
    ),
  ],
)