#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Azarketi",
    traits: ["Uncommon", "Amphibious", "Azarketi", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 20, "Swim": 30},
  base_hp: 8,
  at_boost: [Con, Cha, Free],
  at_flaw: [Wis],
  base_langs: ["Common", "Alghollthu"],
  rec_langs: ["Aklo", "Aquan", "Azlanti", "Draconic", "Elven", "Undercommon"],
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, and you ignore the concealed condition due to dim light.",
    ),
    Circumstance(
      id: Identifier(
        id: "Hydration",
        traits: [],
      ),
      bonuses: [
        (
          stat_name: "Fortitude",
          circumstance: ["24+ Hours Outside Water"],
          bonus: -1,
        ),
      ],
      flavor: "While you are an amphibious being equally as capable on land as in the water, your body requires you to return to aquatic environments at least once in a 24-hour period. You must submerge in water in order to rehydrate your water-acclimated skin. If you fail to do this, your skin begins to crack and your gills become painful. After the first 24 hours outside of water, you take a –1 status penalty to Fortitude saves. After 48 hours, you struggle to breathe air and begin to suffocate until returned to water.",
    ),
  ],
)