#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Centaur",
    traits: ["Uncommon", "Beast", "Centaur", "Humanoid"],
  ),
  size: [Large],
  speed: {"Walk": 30},
  base_hp: 8,
  at_boost: [Str, Wis, Free],
  at_flaw: [Cha],
  base_langs: ["Common", "Fey"],
  rec_langs: ["Arboreal", "Cyclops", "Dwarven", "Elven", "Gnomish", "Halfling", "Jotun"],
  features: [
    Flavor(
      id: Identifier(
        id: "Darkvision",
        traits: [],
      ),
      flavor: "You can see in darkness and dim light just as well as you can see in bright light, though your vision in darkness is in black and white.",
    ),
    Flavor(
      id: Identifier(
        id: "Mount",
        traits: [],
      ),
      flavor: "Your equine body is well suited for carrying trusted allies. A PC can ride you if they are one size category smaller than you (Medium size, for most centaurs), rather than needing to be two size categories smaller.",
    ),
    Flavor(
      id: Identifier(
        id: "Robust",
        traits: [],
      ),
      flavor: "You increase your maximum and encumbered Bulk limits by 2."
    ),
  ],
)