#![enable(unwrap_variant_newtypes)]
(
  meta: Meta(
    id: "Elf",
    traits: ["Elf", "Humanoid"],
    flavor: Some("Elves are a tall, long-lived people with a strong tradition of art and magic."),
    legacy: false,
  ),
  size: [Medium],
  speed: {"Walk": 30},
  base_hp: 6,
  at_boost: [Dex, Int, Free],
  at_flaw: [Con],
  base_langs: ["Common", "Elven"],
  rec_langs: ["Draconic", "Empyrean", "Fey", "Gnomish", "Goblin", "Kholo", "Orcish"],
  features: [
    Flavor(
      id: "Low-Light Vision",
      traits: [],
      flavor: Some("You can see in dim light as though it were bright light, so you ignore the concealed condition due to dim light."),
      legacy: false,
    ),
  ],
)