#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Fetchling",
    traits: ["Uncommon", "Fetchling", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Dex, Free],
  at_flaw: [],
  base_langs: ["Common", "Shadowtongue"],
  rec_langs: ["Aklo", "Draconic", "D'ziriak", "Necril", "Undercommon"],
  features: [
    Flavor(
      id: Identifier(
        id: "Darkvision",
        traits: [],
      ),
      flavor: "You can see in darkness and dim light just as well as you can see in bright light.",
    ),
  ],
)