#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Gnome",
    traits: ["Gnome", "Humanoid"],
  ),
  size: [Small],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Con, Cha, Free],
  at_flaw: [Str],
  base_langs: ["Common", "Fey", "Gnomish"],
  rec_langs: ["Draconic", "Dwarven", "Elven", "Goblin", "Jotun", "Orcish"],
  bonus_langs: 0,
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, so you ignore the concealed condition due to dim light. ",
    ),
  ],
)