#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Goloma",
    traits: ["Rare", "Goloma", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 30},
  base_hp: 8,
  at_boost: [Wis, Free],
  at_flaw: [],
  base_langs: ["Goloma", "Mwangi"],
  rec_langs: ["Abyssal", "Aklo", "Draconic", "Elven", "Halfling", "Necril", "Orcish", "Sylvan"],
  bonus_langs: 0,
  features: [
    Flavor(
      id: Identifier(
        id: "Eyes in Back",
        traits: [],
      ),
      flavor: "You have eyes that point in several different directions and instinctively notice movement in the peripheries of your vision. When you use the Seek basic action, you can look for creatures in two areas instead of one. If precision is necessary, you can select two 30-foot cones or 15-foot bursts within line of sight instead of one.",
    ),
  ],
)