#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Hobgoblin",
    traits: ["Uncommon", "Hobgoblin", "Humanoid"],
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Con, Int, Free],
  at_flaw: [Wis],
  base_langs: ["Common", "Goblin"],
  rec_langs: ["Draconic", "Dwarven", "Jotun", "Halfling", "Kholo", "Orcish"],
  bonus_langs: 0,
  features: [
    Flavor(
      id: Identifier(
        id: "Darkvision",
        traits: [],
      ),
      flavor: "You can see in darkness and dim light just as well as you can see in bright light, though your vision in darkness is in black and white.",
    ),
  ],
)