#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Leshy",
    traits: ["Leshy", "Plant"],
  ),
  size: [Small],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Con, Wis, Free],
  at_flaw: [Int],
  base_langs: ["Common", "Fey"],
  rec_langs: ["Draconic", "Elven", "Gnomish", "Goblin", "Halfling", "Sakvroth"],
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, so you ignore the concealed condition due to dim light.",
    ),
    Flavor(
      id: Identifier(
        id: "Plant Nourishment",
        traits: [],
      ),
      flavor: "You gain nourishment in the same way that the plants or fungi that match your body type normally do, through some combination of photosynthesis, absorbing minerals with your roots, or scavenging decaying matter. You typically do not need to pay for food. If you normally rely on photosynthesis and go without sunlight for 1 week, you begin to starve. You can derive nourishment from specially formulated bottles of sunlight instead of natural sunlight, but these bottles cost 10 times as much as standard rations (or 40 sp).",
    ),
  ],
)