#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Merfolk",
    traits: ["Uncommon", "Amphibious", "Humanoid", "Merfolk"],
  ),
  size: [Medium],
  speed: {"Walk": 5, "Swim": 25},
  base_hp: 8,
  at_boost: [Dex, Cha, Free],
  at_flaw: [Con],
  base_langs: ["Common", "Thalassic"],
  rec_langs: ["Aklo", "Azlanti", "Draconic", "Elven", "Fey"],
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, so you ignore the concealed condition due to dim light.",
    ),
    Flavor(
      id: Identifier(
        id: "Aquatic Grace",
        traits: [],
      ),
      flavor: "When you roll a success on a saving throw against a water effect, you get a critical success instead.",
    ),
    Circumstance(
      id: Identifier(
        id: "Hydration",
        traits: [],
      ),
      bonuses: [
        (
          stat: Fortitude,
          circumstance: ["24+ Hours Outside Water"],
          bonus: -1,
        ),
      ],
      flavor: "Your body requires you to return to aquatic environments at least once in a 24-hour period. After the first 24 hours outside of water, you take a –1 status penalty to Fortitude saves. After 48 hours, you struggle to breathe air and begin to suffocate until returned to water.",
    ),
  ],
)