#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Minotaur",
    traits: ["Uncommon", "Beast", "Humanoid", "Minotaur"],
  ),
  size: [Large],
  speed: {"Walk": 25},
  base_hp: 10,
  at_boost: [Str, Con, Free],
  at_flaw: [Cha],
  base_langs: ["Common", "Jotun"],
  rec_langs: ["Cyclops", "Dwarven", "Fey", "Petran", "Sakvroth"],
  features: [
    Flavor(
      id: Identifier(
        id: "Darkvision",
        traits: [],
      ),
      flavor: "You can see in darkness and dim light just as well as you can see in bright light, though your vision in darkness is in black and white.",
    ),
    Attack(
      id: Identifier(
        id: "Horns",
        traits: ["Unarmed"],
      ),
      price: 0,
      damage: "1d8",
      damage_type: Piercing,
      range: 5,
      bulk: 0,
      hands: 1,
      group: Brawling,
      category: Unarmed,
    ),
  ],
)