#![enable(unwrap_variant_newtypes)]
(
  meta: Meta(
    id: "Nagaji",
    traits: ["Uncommon", "Humanoid", "Nagaji"],
    flavor: Some("With humanoid figures and serpentine heads, nagaji are heralds, companions, and servitors of powerful nagas. They hold a deep reverence for holy areas and spiritual truths, an aspect many others find as intimidating as a nagaji's appearance."),
    legacy: true,
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 10,
  at_boost: [Str, Free],
  at_flaw: [],
  base_langs: ["Common", "Nagaji"],
  rec_langs: ["Aklo", "Amurrun", "Aquan", "Celestial", "Draconic", "Undercommon", "Shadowtongue", "Tengu", "Vanaran"],
  features: [
    Flavor(
      id: "Low-Light Vision",
      traits: [],
      flavor: Some("You can see in dim light as though it were bright light and you ignore the concealed condition due to dim light."),
      legacy: false,
    ),
    Attack(
      meta: Meta(
        id: "Fangs",
        traits: ["Finesse", "Unarmed"],
        flavor: Some("Your mouth contains either rows of hooked, needle-sharp teeth or a pair of vicious serpent fangs. You gain a fangs unarmed attack that deals 1d6 piercing damage. Your fangs are in the brawling group and have the finesse and unarmed traits."),
        legacy: false,
      ),
      price: 0,
      damage: "1d6",
      damage_type: Piercing,
      range: 5,
      bulk: 0,
      hands: 1,
      group: Brawling,
      category: Unarmed,
    ),
  ],
)