#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Orc",
    traits: ["Humanoid", "Orc"],
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 10,
  at_boost: [Free, Free],
  at_flaw: [],
  base_langs: ["Common", "Orcish"],
  rec_langs: ["Goblin", "Jotun", "Petran", "Sakvroth"],
  features: [
    Flavor(
      id: Identifier(
        id: "Darkvision",
        traits: [],
      ),
      flavor: "You can see in darkness and dim light just as well as you can see in bright light, though your vision in darkness is in black and white.",
    ),
  ],
)