#![enable(unwrap_variant_newtypes)]
(
  meta: Meta(
    id: "Sprite",
    traits: ["Rare", "Fey", "Sprite"],
    flavor: Some("Sprites are diminutive, whimsical, and exuberant creatures from the fey realm known as the First World. They love playing pranks, exploring new things, and embracing everything to do with magic."),
    legacy: true,
  ),
  size: [Tiny],
  speed: {"Walk": 20},
  base_hp: 6,
  at_boost: [Dex, Int, Free],
  at_flaw: [Str],
  base_langs: ["Common", "Sylvan"],
  rec_langs: ["Celestial", "Draconic", "Elven", "Gnomish", "Goblin", "Jotun"],
  features: [
    Flavor(
      id: "Low-Light Vision",
      traits: [],
      flavor: Some("You can see in dim light as though it were bright light, and you ignore the concealed condition due to dim light."),
      legacy: false,
    ),
    Flavor(
      id: "Magical Strikes",
      traits: [],
      flavor: Some("Your inherent magic pervades your entire being. All your Strikes are magical, whether with unarmed attacks or weapons."),
      legacy: false,
    ),
  ],
)