#![enable(unwrap_variant_newtypes)]
(
  meta: Meta(
    id: "Strix",
    traits: ["Rare", "Humanoid", "Strix"],
    flavor: Some("Known as itarii in their own language, strix are reclusive avian humanoids devoted to their homelands and their tribes. They defend their precious communities with broad wingspans and razor talons."),
    legacy: true,
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 8,
  at_boost: [Dex, Free],
  at_flaw: [],
  base_langs: ["Common", "Strix"],
  rec_langs: ["Draconic", "Jotun", "Gnomish", "Diabolic"],
  features: [
    Flavor(
      id: "Low-Light Vision",
      traits: [],
      flavor: Some("You can see in dim light as though it were bright light, so you ignore the concealed condition due to dim light."),
      legacy: false,
    ),
    Flavor(
      id: "Wings",
      traits: [],
      flavor: Some("All strix possess powerful wings. While not all strix focus on honing their flying skills, a strong flap of their wings allows strix to travel longer distances when jumping. When Leaping horizontally, you move an additional 5 feet. You don't automatically fail your checks to High Jump or Long Jump if you don't Stride at least 10 feet first. In addition, when you make a Long Jump, you can jump a distance up to 10 feet further than your Athletics check result, though still with the normal maximum of your Speed. Additionally, you take no damage from falling, no matter what distance you fall."),
      legacy: false,
    ),
  ],
)