#![enable(unwrap_variant_newtypes)]
(
  id: Identifier(
    id: "Tengu",
    traits: ["Uncommon", "Humanoid", "Tengu"],
  ),
  size: [Medium],
  speed: {"Walk": 25},
  base_hp: 6,
  at_boost: [Dex, Free],
  at_flaw: [],
  base_langs: ["Common", "Tengu"],
  rec_langs: ["Dwarven", "Elven", "Halfling", "Gnomish", "Goblin", "Fey"],
  features: [
    Flavor(
      id: Identifier(
        id: "Low-Light Vision",
        traits: [],
      ),
      flavor: "You can see in dim light as though it were bright light, so you ignore the concealed condition due to dim light.",
    ),
    Attack(
      id: Identifier(
        id: "Sharp Beak",
        traits: ["Finesse", "Unarmed"],
      ),
      price: 0,
      damage: "1d6",
      damage_type: "Piercing",
      range: 5,
      bulk: 0,
      hands: 1,
      group: Brawling,
      category: Unarmed,
    ),
  ],
)